:root{
  --header_color:black;
  --footer_color:black;
  --brand_color:gold;
}

/* Clear fix
  This enables Normal sizing page elements 
*/
*, *::after, *::before{
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

/* Give all images on the page a 
  relative sizing 
  */
body img{
  width:100%;
  height: 100%;
}

/* Body styles*/
body{
  display:grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns:1fr;
  grid-template-areas:
  "header" 
  "main" 
  "footer";
  
  min-height:100vh;
}


/* Style the header*/
header{
  grid-area:header;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  flex-wrap:nowrap;
  background:var(--header_color);
  position:sticky;
  top:0px;
  z-index:5;
}

/* Brand style
 brand class is a div container that contains
 the brand image and the brand brand_name
 */
.brand{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:center;
  align-items:center;
  padding:0.5em;
  position:relative;
}
.brand_image{
  width:5em;
}
.brand_name{
  font-style:italic;
  color: var(--brand_color);
  display:flex;
  flex-flow:row nowrap;
}

.brand_motto{
  position:absolute;
  top:75%;
  right:10%;
  color:white;
  font-style:italic;
  font-size:65%;
  visibility:hidden;
  
}

/* navigation styles */
.nav{
  list-style-type:none;
  display:flex;
  width:100%;
  justify-content:center;
  align-items:center;
}

.nav a{
  display:inline-block;
  padding:0.6em;
  color:orange;
  text-decoration:none;
  text-transform:uppercase;
  box-shadow: 0 0 1em gray;
 
}
/* this is to show contrast for selected pages */
#home{
  color:grey;
  
}
/* Main styles here */
.main{
  grid-area:main;
  display:grid;
  
grid-template-columns:2fr 1.2fr;
  grid-template-rows:1fr auto auto;
  grid-template-areas:
  "pic pic"
  "quote quote"
  "service service";
}
figure{
  height:max(50vh,500px);
  width:80%;
  margin:0 auto;
  padding-top:2em;
  position:relative;
  grid-area:pic;
  
}
figure img{
  border-top-right-radius: 2em;
  border-bottom-left-radius:2em;
  width:100%;
  height:100%;
  object-fit:cover;
}
figcaption{
  text-align:center;
  position:absolute;
  top:50%;
  padding:0.5em;
  background:rgba(230, 230, 255,0.3);
  width:100%;
  font-style:italic ;
  font-weight:bolder;
  font-size:100%;
  color:black;
}
.detail{
  height:auto;
  width:80%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2em;
  box-shadow:0 0 10px lightgray;
  margin: 2em auto 0 auto;
  background:rgba(0,0,0,0.9);
  color:white;
  grid-area:quote;
}
blockquote{
  border-top:0.1em solid white;
  border-bottom:0.1em solid white;
  padding:0.5em;
}
.container{
  display:flex;
  flex-direction:column;
  justify-content: space-around ;
  margin-bottom: 3em;
  gap:2em;
  grid-area:service;
}
.item{
  margin:0 auto;
  object-fit:contain ;
  display:grid;
  grid-template-rows:1fr auto;
  grid-template-columns:1fr;
  width:80%;
  box-shadow: 0 0 10px gray;
  border-radius:2em;
  padding: 2em;
  flex: 1;
  margin-top: 2em;
}
.description{
  min-height:10%;
  display:inline-block ;
  padding: 1em;
  text-align:center;
}


/* Footer */
footer{
  grid-area:footer;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  flex-wrap:nowrap;
  background:var(--footer_color);
}
.social a{
  display:inline-block;
  width:4em;
}
.copyright{
  color:white;
  margin-bottom:2em;
}

@media screen and (min-width:550px){
  .main{
  grid-template-areas:
  "pic quote"
  "pic quote"
  "service service"; 
} 
  header{
    flex-direction:row;
  }
 .brand{
   flex:4;
 }
.brand_motto{
  visibility:visible;
}
.brand_name::after{
  content:" Couture";
  text-indent:0.15em;
}
.nav{
  flex:5;
  height:100%;
  align-items:flex-end;
}
.container{
  flex-direction:row;
  justify-content:;
}
.item{
  max-width:30%;
}
.detail{
  width:60%;
}

}